{% extends "base.html" %}

{% block content %}
<div class="row">
	{% for classroom in classrooms %}
<div class="col-sm-4">
	<div class="card">
		<div class="card-body">
			<h3 class="card-text">{{classroom.subject}} {{classroom.year}}</h3>
			<h5 class="card-text">Grade: {{classroom.grade}}</h5>
			<h6 class="card-text">Teacher: {{classroom.teacher}}</h6>
			<a href="{{classroom.get_absolute_url}}" class="btn" style="background-color: #e3f2fd; color: black;">View</a>
		</div>
	</div>
</div>
	{% endfor %}
</div>

{% endblock content %}
